body {
  
    background-color: #f8f9fa;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    
  }
  
  form {
    
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    background: linear-gradient(to right,rgb(0, 170, 255),rgb(0, 255, 128));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    
  }
  .button-container {
    text-align: center;
  }
  
  
  .table1{
    margin-top: 30px;
    border-radius: 3px solid black;
    justify-content: center;
    align-items: center;
  }
  
  table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
